@import '../../Constant/color.scss';
@import '../../Constant/font.scss';
.Education_container {
    background: $brown;
    height: 60rem;
    @media only screen and (max-width: 1599px) {
        height: 55rem;
    }
    @media only screen and (max-width: 1439px) {
        height: 45rem;
    }
    @media only screen and (max-width: 1024px) {
        height: 40rem;
    }
    @media only screen and (max-width: 880px) {
        height: 45rem;
    }
    @media only screen and (max-width: 819px) {
        height: 32rem;
    }
    position: relative;
    font-family: 'Inter';
    overflow: hidden;
    @include subFont_mid();
    color: $white;
    margin: 0 4.4rem;
    padding: 0 7.1rem;
    padding-top: 8rem;
    @media only screen and (max-width: 819px) {
        margin: 0;
        padding: 2rem;
    }
}

.Education_footer {
    @include headFont_xl();
    position: absolute;
    bottom: -8rem;
    @media only screen and (max-width: 1599px) {
        bottom: -6rem;
    }
    @media only screen and (max-width: 1439px) {
        bottom: -4rem;
    }
    @media only screen and (max-width: 1023px) {
        bottom: -3rem;
    }
    @media only screen and (max-width: 819px) {
        bottom: -1.5rem;
    }
    font-weight: 600;
    left: 50%;
    transform: translateX(-50%);
    color: $default;
    font-family: 'Inconsolata';
}

.Education_location {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    margin-bottom: 3rem;
}

.Education_name {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.Education_major {
    font-weight: 200;
    margin-bottom: 4rem;
}
