$shadow_small:
    0px 2px 8px rgba(26, 26, 26, 0.08),
    0px 2px 4px rgba(26, 26, 26, 0.03);
$shadow_regular:
    0px 2px 6px rgba(26, 26, 26, 0.06),
    0px 3px 15px rgba(26, 26, 26, 0.1);
$shadow_medium:
    0px 4px 6px rgba(26, 26, 26, 0.06),
    0px 6px 20px -2px rgba(26, 26, 26, 0.14);
$shadow_large:
    0px 16px 24px -2px rgba(26, 26, 26, 0.12),
    0px 2px 12px rgba(26, 26, 26, 0.1);

/**
* Black & White
*/

$black: #000000;
$white: #ffffff;

/**
  theme colors
*/

$theme_50: #cc9474;
$theme_100: #c68864;
$theme_200: #b27a5a;
$theme_300: #9e6d50;
$theme_400: #8b5f46;
$theme_500: #77523c;
$theme_600: #634432;
$theme_700: #3b291e;

/**
  light colors
*/

$light_50: #f9f3f0;
$light_100: #f4e7e0;
$light_200: #eedbd1;
$light_300: #e8cfc1;
$light_400: #e3c4b2;
$light_500: #ddb8a2;
$light_600: #d7ac93;
$light_700: #d1a083;

/**
* Neutral colors
*/

$neutral_50: #fafafa;
$neutral_100: #f5f5f5;
$neutral_200: #ebebeb;
$neutral_300: #bdbdbd;
$neutral_400: #757575;
$neutral_500: #4d4d4d;
$neutral_600: #212121;
$neutral_700: #0a0a0a;

/**
* Primary colors
*/

$primary_10: #e9f7f8;
$primary_50: #f7feff;
$primary_100: #e3fcfc;
$primary_200: #c4f5f5;
$primary_300: #a5e0e5;
$primary_400: #67cdd6;
$primary_500: #3cbbc7;
$primary_600: #22a6b3;
$primary_700: #1394a1;

/**
*Auxiliary colors
*/

$auxiliary_50: #fffbfa;
$auxiliary_100: #fff4f0;
$auxiliary_200: #ffe9e0;
$auxiliary_300: #ffd8c9;
$auxiliary_400: #ffb8a1;
$auxiliary_500: #ff9370;
$auxiliary_600: #ff7745;
$auxiliary_700: #ff6430;

/**
* Danger
*/

$danger_50: #fffafa;
$danger_100: #fef4f5;
$danger_200: #ffebec;
$danger_300: #ffc2c6;
$danger_400: #f58e95;
$danger_500: #eb6364;
$danger_600: #ff3d4a;
$danger_700: #cf343f;

/**
* Warning
*/

$warning_50: #fffbf7;
$warning_100: #fff8f0;
$warning_200: #fff1db;
$warning_300: #ffd9ad;
$warning_400: #ffbc70;
$warning_500: #ffa033;
$warning_600: #ff8f0f;
$warning_700: #fe8a05;

/**
* Success
*/

$success_50: #f4fef9;
$success_100: #ebfaf3;
$success_200: #d8f5e7;
$success_300: #b6f0d4;
$success_400: #81d6ad;
$success_500: #48c789;
$success_600: #30b876;
$success_700: #21ad6a;

/**
* Info
*/

$info_50: #f2faff;
$info_100: #ebf7ff;
$info_200: #d1edff;
$info_300: #a3daff;
$info_400: #5cbeff;
$info_500: #29a9ff;
$info_600: #0099ff;
$info_700: #1a85ff;

/**
* extra color
*/

$bg: #f9fbfb;
$display_font: #9197a1;
$purple_50: #f5edfc;
$purple_600: #aa70e0;
$yellow_50: #fefaee;
$yellow_600: #f2c94c;

/**/

$background: #f7f7f7;
$line: #d9d9d9;
$gray: #bcbcbc;
$brown: #aacca7;
$default: #333333;
