@import '../../Constant/font.scss';
@import '../../Constant/color.scss';
.Header_container {
    height: 8rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    user-select: none;
    background: transparent;
    font-family: 'Inter';
    font-weight: 300;
    color: $default;
}

.Header_name {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    > div {
        display: inline-block;
        margin-right: 2rem;
    }
}

.Header_props {
    flex: 1;
    text-align: right;
    ul li {
        list-style-type: none;
        height: 2rem;
        margin: 0 2cqh;
        text-align: center;
        display: inline-flex;
        align-items: center;
        font: $fs_l_16;
        box-sizing: border-box;
    }
    ul li:hover {
        cursor: pointer;
        color: $light_600;
        transition: 0.2s;
    }
    .Header_selected {
        color: $brown;
        font-weight: 500;
        border-bottom: 0.2rem solid $brown;
    }
}
