@import '../../Constant/font.scss';
@import '../../Constant/color.scss';
.Header_container {
    display: flex;
    align-items: center;
    user-select: none;
    background: transparent;
    font-family: 'Inter';
    font-weight: 300;
    color: $default;
    padding: 4.4rem;
    padding-bottom: 3.6rem;
}

.Header_name {
    font-size: 2.4rem;
    display: flex;
    align-items: center;
    > div {
        display: inline-block;
        margin-right: 1.6rem;
    }
}

.Header_props {
    flex: 1;
    text-align: right;
    ul li {
        list-style-type: none;
        height: 2rem;
        margin-left: 3rem;
        text-align: center;
        display: inline-flex;
        align-items: center;
        font: $fs_l_16;
        box-sizing: border-box;
    }
    ul li:hover {
        cursor: pointer;
        color: $brown;
    }
    .Header_selected {
        color: $brown;
        // font-weight: 500;
        position: relative;
        visibility: hidden;
        &::after {
            font-family: 'Inter';
            display: block;
            position: absolute;
            content: attr(id);
            font-weight: 500;
            height: 1.9rem;
            left: 0;
            visibility: visible;
            border-bottom: 0.2rem solid $brown;
        }
    }
}
