@import '../../Constant/color.scss';
@import '../../Constant/font.scss';
.Experience_container {
    margin-top: 6rem;
    position: relative;
}

@keyframes move {
    from {
        left: -5rem;
    }
    to {
        left: -45rem;
    }
}

.Experience_title {
    display: flex;
    position: absolute;
    left: -5rem;
    top: -10rem;
    @media only screen and (max-width: 1023px) {
        top: -7rem;
    }
    @media only screen and (max-width: 819px) {
        top: -5rem;
    }
    font-family: 'Inconsolata';
    font-weight: 600;
    width: 100vw;
    animation-name: move;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    > div {
        display: flex;
        @include headFont();
        white-space: nowrap;
        > div > span {
            display: inline-block;
            margin-left: 4rem;
            color: $gray;
        }
    }
}

.Experience_titleBar {
    margin-top: 15rem;
    @media only screen and (max-width: 1023px) {
        margin-top: 10rem;
    }
    @media only screen and (max-width: 819px) {
        margin-top: 8rem;
    }
    border-top: 0.1rem solid $line;
    font-family: 'Inter';
    font-weight: 300;
    font-size: 3.2rem;
    text-align: right;
    > div {
        cursor: pointer;
        margin-right: 4rem;
        height: 10rem;
        line-height: 10rem;
        > img {
            margin-left: 2rem;
        }
    }
}

.Experience_keywords {
    height: 50rem;
}
