@import '../../../Constant/color.scss';
.ProjectCard_container {
    border-top: 0.1rem solid $line;
    padding: 9.6rem 6.4rem 6.4rem 6.4rem;
    color: $default;
}

.ProjectCard_name {
    font-family: 'Inconsolata';
    font-size: 3.2rem;
    font-weight: 600;
    display: inline-block;
    padding: 3.2rem 4.8rem;
    border: 0.1rem solid $line;
    border-radius: 9.8rem;
    box-sizing: border-box;
}

.ProjectCard_date {
    font-weight: 200;
    font-size: 3.2rem;
    margin-top: 2.2rem;
}

.ProjectCard_location {
    font-weight: 200;
    font-size: 2.4rem;
    margin-top: 1.2rem;
}

.ProjectCard_title {
    margin-top: 1.2rem;
    font-weight: 400rem;
    font-size: 2.4rem;
    color: $brown;
}

.ProjectCard_bg {
    margin-top: 4.8rem;
    font-weight: 700;
    font-size: 2.4rem;
}

.ProjectCard_background {
    margin-top: 2.4rem;
    font-weight: 300;
    font-size: 2.4rem;
}

.ProjectCard_res {
    margin-top: 3.6rem;
    font-weight: 700;
    font-size: 2.4rem;
}

.ProjectCard_resps {
    margin-top: 2.4rem;
    > div {
        font-size: 2.4rem;
        font-weight: 200;
        margin-top: 2.4rem;
    }
}

.ProjectCard_keywords {
    margin-top: 4.8rem;
    > div {
        display: inline-block;
        margin-right: 3.2rem;
        font-size: 3.2rem;
        font-weight: 600;
        color: $brown;
        &::before {
            display: inline-block;
            content: '#';
        }
        margin-bottom: 1.6rem;
    }
}
